<nav role = "navigation">
    <div class = "flex items-center border-b border-gray-600">
        <p-button routerLink="/home" styleClass="!rounded-none w-40 !border !border-gray-200" severity="secondary" label="Acceuil" icon="pi pi-home"></p-button>
        <p-button routerLink="personnes" routerLinkActive="!bg-gray-700 !text-white" styleClass="!rounded-none w-40 !border !border-gray-200" severity="secondary" label="Personnes"></p-button>
        <p-button routerLink="/pays" styleClass="!rounded-none w-40 !border !border-gray-200" severity="secondary" label="Pays"></p-button>
        <p-button routerLink="/" styleClass="!rounded-none w-40 !border !border-gray-200" severity="secondary" label="Utilsateurs"></p-button>
    </div>
</nav>
